.App{
  width: 100%;
  margin: 0;
  padding: 0;
}

.App nav{
  height: 7vh;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App nav .Title{
  color: orange;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}

.App nav .Title span{
  margin-right: 30px;
}

.App nav i{
  color: orange;
  font-size: 30px;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 10%;
  transition: 0.2s;
}


.App nav i:hover{
  color: white;
  border: 1px solid white;
  transform: scale(1.1, 1.1);
}

@media(min-width: 500px){
  .App nav .Title{
    font-size: 30px;
  }
}

@media (min-width: 768px){
  .App nav .Title{
    font-size: 40px;
  }
}

@media (min-width: 1200px){
  .App nav .Title{
    font-size: 50px;
  }
}

